@using System.Globalization
@using Microsoft.AspNetCore.Components

<div class="relative w-full">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="block mb-1 text-neutral-700 @LabelClassName" for="@Name">
            @Label
            @if (IsRequired)
            {
                <span class="text-[var(--error)] ml-1">*</span>
            }
        </label>
    }

    <select id="@Name"
            name="@Name"
            class="w-full px-2 py-1 border border-[var(--border)] rounded-sm bg-[var(--bg)] text-[var(--font)] focus:outline-none focus:ring-[var(--focus)] @InputClassName"
            value="@Value"
            @onchange="HandleChange"
            disabled="@IsDisabled">
        <!-- Corregido aquí -->
        <option value="" disabled selected>@PlaceholderText</option>
        @foreach (var option in Options)
        {
            <option value="@option.Value" class="select-option">@option.Label</option>
        }
    </select>


    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <p class="text-[var(--error)] text-xs mt-1 @ErrorClassName">
            <FaIcon Icon="IconName.ExclamationCircle" Class="mr-2" />
            @ErrorMessage
        </p>
    }
</div>